<div class="outer pt-5 pb-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="f30 grey fw-bold pt-2 pb-2">Featured Products</div>
            <div class="arrow-outer d-flex">
                <div class="arrowleft">></div>
                <div class="arrowleft">></div>
            </div>
        </div>
        <hr>
        <div class="items-outer row pt-2 pb-5">
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="full-icon">
                    <i class="fas fa-expand"></i>
                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/key.png">
                    <div class="text-outer ms-5">
                        <div class="f24 fw-semibold grey mt-2">Microtronic</div>
                        <div class="rating-outer d-flex mt-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="f26 fw-bold black">$252</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>