<div class="outer pb-5">
    <div class="container">
        <div class="w-100 banner pb-5">
            <img src="../../../assets/images/add-banner-big.jpg">
        </div>
        <div class="brands-outer row">
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-02.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-03.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-04.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-05.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
        </div>
        <div class="brands-outer row">
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-02.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-03.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-04.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-05.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
        </div>
        <div class="brands-outer row">
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-02.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-03.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-04.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-05.jpg">
                </p>
            </div>
            <div class="brand-item col">
                <p>
                    <img src="../../../assets/images/brands-01.jpg">
                </p>
            </div>
        </div>
    </div>
</div>