<div class="outer pt-5 pb-5">
    <div class="container d-flex justify-content-between">
        <div class="adbox">
            <div class="f40 white fw-bold mb-1">I PRO</div>
            <div class="f24 white  lh-normal mb-2 w75"> Lorem Ipsum is not simply random text, It has roots in a piece.</div>
            <div class="f40 white fw-bold mb-1">$35</div>
            <div class="btn-shop">Shop Now</div>
        </div>
        <div class="adbox">
            <div class="f40 white fw-bold mb-1">I PRO</div>
            <div class="f24 white  lh-normal mb-2 w75"> Lorem Ipsum is not simply random text, It has roots in a piece.</div>
            <div class="f40 white fw-bold mb-1">$35</div>
            <div class="btn-shop">Shop Now</div>
        </div>
    </div>
</div>