<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="white f20 fw-bold">Contact Us</div>
                <div class="pt-4 f18 contact-grey">Lorem Ipsum is simply dummy text of the printing,</div>
                <div class="pt-3 f18 contact-grey">and typesetting industry. Lorem Ipsum has been,</div>
                <div class="pt-3 f18 contact-grey">industry's standard dummy text ever,</div>
                <div class="pt-4 f18 contact-grey">1500s, when an unknown printer took</div>
                <div class="pt-3 f18 contact-grey">leap into electronic typesetting, remaining.</div>
                <div class="d-flex mt-4">
                    <div class="w-50">
                        <div class="contact-grey f18 fw-bold">PHONE NUMBER</div>
                        <div class="white f18 fw-bold">+971 44556677886</div>
                    </div>
                    <div class="w-50">
                        <div class="contact-grey f18 fw-bold">PHONE NUMBER</div>
                        <div class="white f18 fw-bold">+971 44556677886</div>
                    </div>
                </div>
                <div class="contact-grey f18 fw-bold mt-3">EMAIL ADDRESS</div>
                <div class="white f18 fw-bold">sales@diplomacykeys.com</div>
                <div class="contact-grey f18 fw-bold mt-3">OUR LOCATION</div>
                <div class="white f18 fw-bold">Diplomacy Key, Sharjah</div>
            </div>
            <div class="col-md-2">
                <div class="white f20 fw-bold">Quick Links</div>
                <div class="pt-4 f18 contact-grey">Categories</div>
                <div class="pt-3 f18 contact-grey">Brands</div>
                <div class="pt-3 f18 contact-grey">Manufactures</div>
            </div>
            <div class="col-md-3">
                <div class="white f20 fw-bold">Need Help?</div>
                <div class="pt-4 f18 contact-grey">General Sales Manages</div>
                <div class="pt-3 f18 contact-grey">USA Sales Manager</div>
                <div class="pt-3 f18 contact-grey">Middle East Sales Manager</div>
                <div class="pt-4 f18 contact-grey">Contact Us</div>
                <div class="pt-3 f18 contact-grey">Privacy Policy</div>
                <div class="pt-3 f18 contact-grey">Terms And Conditions</div>
            </div>
            <div class="col-md-3">
                <div class="white f20 fw-bold">News Letter</div>
                <div class="pt-4 f18 contact-grey">Lorem Ipsum is simply dummy,</div>
                <div class="pt-3 f18 contact-grey">and typesetting industry has,</div>
                <div class="pt-3 f18 contact-grey">industry's standard,</div>
                <div class="pt-4 f18 contact-grey">1500s, when an unknown.</div>
                <input class="email-input mt-4 f18 ps-3" placeholder="Email Address...">
                <div class="sub-btn white mt-2 ps-3">Subscribe</div>
            </div>
        </div>
    </div>
</div>