<div class="outer">
    <div class="container">
        <div class="d-flex align-center">
            <div class="arrow-outer" (click)="scrollLeft()">
                <i class="fas fa-angle-left"></i>
            </div>
            <div #scrollBox class="d-flex w-100 justify-content-between scrollBox">
                <div class="w-20 d-flex box">
                    <div class="icon-box me-4">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text-box">
                        <div class="f20 fw-bold pb-2">Shipping</div>
                        <div class="f16">Shipping All Over the world</div>
                    </div>
                </div>
                <div class="w-20 d-flex box">
                    <div class="icon-box me-4">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text-box">
                        <div class="f20 fw-bold pb-2">Shipping</div>
                        <div class="f16">Shipping All Over the world</div>
                    </div>
                </div>
                <div class="w-20 d-flex box">
                    <div class="icon-box me-4">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text-box">
                        <div class="f20 fw-bold pb-2">Shipping</div>
                        <div class="f16">Shipping All Over the world</div>
                    </div>
                </div>
                <div class="w-20 d-flex box">
                    <div class="icon-box me-4">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text-box">
                        <div class="f20 fw-bold pb-2">Shipping</div>
                        <div class="f16">Shipping All Over the world</div>
                    </div>
                </div>
                <div class="w-20 d-flex box">
                    <div class="icon-box me-4">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text-box">
                        <div class="f20 fw-bold pb-2">Shipping</div>
                        <div class="f16">Shipping All Over the world</div>
                    </div>
                </div>
            </div>
            <div class="arrow-outer" (click)="scrollRight()">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <div class="point crsrptr"></div>
        <div class="point crsrptr ms-3 yellow"></div>
        <div class="point crsrptr ms-3"></div>
    </div>
</div>